<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <servlet>
	  <servlet-name>connexion_proprietaire</servlet-name>
	  <servlet-class>web.ControleurServletConnexion_proprietaire</servlet-class>
  </servlet>
  
    <servlet>
	  <servlet-name>ajouterBien_proprietaire</servlet-name>
	  <servlet-class>web.ControleurServletAjoutBienImmo</servlet-class>
  </servlet>
  
  
  <servlet>
  	  <servlet-name>consulterBien_proprietaire</servlet-name>
	  <servlet-class>web.ControleurServletMesBiens</servlet-class>
  </servlet>
  
  <servlet>
	  <servlet-name>connexion_employe</servlet-name>
	  <servlet-class>web.ControleurServletConnexion_employe</servlet-class>
  </servlet>
  
   <servlet>
  	  <servlet-name>rechercher_utilisateur</servlet-name>
	  <servlet-class>web.ControleurServletRechercheUtilisateur</servlet-class>
  </servlet>
  
  <servlet>
	  <servlet-name>accueil</servlet-name>
	  <servlet-class>web.ControleurServletAccueil</servlet-class>
  </servlet>
 
  <servlet-mapping>
	  <servlet-name>accueil</servlet-name>
	  <url-pattern>/accueil</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	  <servlet-name>connexion_proprietaire</servlet-name>
	  <url-pattern>/connexion_proprietaire</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
	  <servlet-name>connexion_employe</servlet-name>
	  <url-pattern>/connexion_employe</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	  <servlet-name>connexion_proprietaire</servlet-name>
	  <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	  <servlet-name>ajouterBien_proprietaire</servlet-name>
	  <url-pattern>/ajouterBien</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>consulterBien_proprietaire</servlet-name>
	  <url-pattern>/consulterBiens</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	  <servlet-name>rechercher_utilisateur</servlet-name>
	  <url-pattern>/rechercher</url-pattern>
  </servlet-mapping>
  
	<error-page>
	    <error-code>404</error-code>
	    <location>/accueil</location>
	</error-page>


</web-app>

